body
{	width: 700px;
	margin:	0 auto;
	background-color:grey;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.calc_keys{
	display: grid;
	display: inline-grid;
	height:100px;
	width:100px;
	font-size: 36px;
}

.gridChar{
	display: grid;
	display: inline-grid;
	height:100px;
	width:100px;
	font-size: 36px;
}

h1 {
	color: darkblue;
	text-align: center;
	font-family: monospace;
	font-size: 56px;
}


h2{
	color: LightBlue;
	text-align: center;
	font-family: monospace;
	font-size: 48px;
}

h3{
	color: LightBlue;
	text-align: center;
	font-family: monospace;
	font-size: 48px;
}


form { 
	text-align: center;
}

div{
	text-align: center;
}

p{
	color: lightblue;
	font-size: 36px;
	text-align: center;
}